In [71]:
import pandas as pd

In [83]:
df = pd.read_excel("Sankey.xlsx")
# df['Source'] = df['Source'].fillna(0).astype(int)
# df = df.astype({'Source':'int'})

In [84]:
df

                  Unterkategorie  x  y  Source  Target       value
0                         Gehalt  0  0     NaN     NaN         NaN
1                         Gehalt  0  0     1.0     NaN         NaN
2                          Miete  1  0     1.0     2.0  440.000000
3                 Strom-Haushalt  1  1     1.0     3.0   35.000000
4                   Lebensmittel  1  1     1.0     4.0  303.705000
5                   Auto-Leasing  1  1     1.0     5.0  242.040000
6              Ausgaben Sonstige  1  1     1.0     6.0  186.630000
7                     Auto-Strom  1  1     1.0     NaN   95.000000
8                 MSCI World ETF  2  1     1.0     NaN  200.000000
9           Paten MSCI World ETF  2  1     1.0     NaN  100.000000
10  Nichte, Neffe MSCI World ETF  2  1     1.0     NaN  100.000000
11                     Bausparen  2  1     1.0     NaN  100.000000
12                       Bitcoin  2  1     1.0     NaN  100.000000
13                   RL - privat  3  1     1.0     NaN  320.060000
14                   RL - Urlaub  3  1     1.0     NaN  224.090000
15                       RL - GM  3  1     1.0     NaN  141.434333
16                       Spenden  4  1     1.0     NaN  105.000000
17                   RL - privat  4  1     1.0     NaN  332.510667

In [85]:
list_x = list(df.x)
cleaned_x = [x for x in list_x if str(x) != 'nan']
cleaned_x

[0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4]

In [86]:
list_y = list(df.y)
cleaned_y = [x for x in list_y if str(x) != 'nan']
cleaned_y

[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [91]:
list_Source = list(df.Source)
cleaned_Source = [x for x in list_Source if str(x) != 'nan']
cleaned_Source

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [79]:
list_Target = list(df.Target)
# cleaned_Target = [x for x in list_Target if str(x) != 'nan']
cleaned_Target

[2.0, 3.0, 4.0, 5.0, 6.0]

In [78]:
list_value = list(df.value)
cleaned_value = [x for x in list_value if str(x) != 'nan']
cleaned_value

[440.0,
 35.0,
 303.705,
 242.04,
 186.63,
 95.0,
 200.0,
 100.0,
 100.0,
 100.0,
 100.0,
 320.06,
 224.09,
 141.4343333333333,
 105.0,
 332.51066666666657]